<app-header></app-header>
  <section style="background-color: silver" class="why_section layout_padding">
    <div class="container">

      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="full">
            <form #register = "ngForm" (ngSubmit)="onRegister(register)" id="registerForm">
                <input type="text" ngModel placeholder="Enter your name" name="firstName" id="name"  />
                <input type="text" ngModel placeholder="Enter your surname" name="lastName"  />
                <input type="email" ngModel placeholder="Enter your email address" name="email"  />
                <input type="password" ngModel placeholder="Enter password" name="password"  />
              <input type="submit" value="Register"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
<app-footer></app-footer>

